{% extends 'main.html' %}
{% load i18n allauth account static crispy_forms_tags %}
{% block title %}
    {% trans "Password Reset" %}
{% endblock %}
{% block content %}
<section class="container">
    <div class="row d-flex justify-content-center align-items-center" style="height: calc(100vh - 56px);">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card border-0 rounded-1 shadow">
          <div class="card-body z-2">
            <h4 class="fw-bold text-center">
                {% trans "Password Reset" %}
            </h4>
            <form method="post" id="form">              
              {% csrf_token %}
              {{ form|crispy }}
              
              <hr class="mx-auto" />
              <div class="d-flex justify-content-start gap-2">
                <button id="submitBtn" type="button" class="btn btn-block btn-primary">
                  <span id="btnSpinner" class="spinner-grow spinner-grow-sm text-light" style="display: none;"></span>
                <span id="btnText" class="">Cambiar</span>
                </button>
                <button id="cancelBtn" type="button" class="btn btn-block btn-dark" onclick="window.location.href='{% url 'account_login' %}'">Cancelar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block scripts %}
<script>
    document.getElementById('submitBtn').addEventListener('click', function () {
      swal
        .fire({
          title: '¿Estás seguro?',
          text: '¿Deseas guardar los cambios?',
          icon: 'warning',
          confirmButtonColor: '#002f87',
          cancelButtonColor: '#d33',
          showCancelButton: true,
          confirmButtonText: 'Sí',
          cancelButtonText: 'No'
        })
        .then((result) => {
          if (result.isConfirmed) {
            document.getElementById('btnText').textContent = 'Guardando...'
            document.getElementById('btnSpinner').style.display = 'inline-block'
            document.getElementById('submitBtn').disabled = true
            document.getElementById('cancelBtn').disabled = true
            document.getElementById('form').submit()

          }
        });
    });
    
</script>
{% endblock %}
