.circular-progressbar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.circular-progressbar::before {
    content: "75%";
}