.logo:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.logo:not(:hover) {
    transform: scale(1);
    transition: transform 0.2s linear;
}

.nav-item-gc:hover .nav-link {
    border-bottom: 2px solid #ff8300;
    color: #ff8300;
    transition: border-bottom 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.nav-item-gc:not(:hover) .nav-link {
    border-bottom: 2px solid transparent;
    color: #fff;
    transition: border-bottom 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.nav-item-gc:hover .nav-link.show {
    border-bottom: 2px solid #ff8300;
    color: #ff8300;
    transition: border-bottom 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.nav-item-gc .nav-link.active{
    color: #ff8300;
    border-bottom: 2px solid #ff8300;
    
}

#showPassword:hover {
    color: #ff8300;
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
}

#showPassword:not(:hover) {
    color: #002f87 !important;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.link-gc:hover {
    color: #ff8300;
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
}

.link-gc:not(:hover) {
    color: #002f87;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}



/* width and height of the scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* background color of the scrollbar */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 5px;
}

/* color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

/* color of the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    border-radius: 5px;
}

/* width and color of the scrollbar for non-webkit-based browsers */


.obj-details:hover {
    background-color: #fafafa;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;


}