{% extends 'main.html' %}
{% load static %}
{% load custom_tags %}
{% load widget_tweaks %}

{% block content %}
  <div class="container">
    <form action="{% url 'addCargo' %}" method="POST" class="card border-0 shadow mt-4">
      <div class="card-header bg-primary text-white">
        <h3 class="mb-0 text-center card-title">Agregar Cargo</h3>
      </div>
      <div class="card-body">
        {% csrf_token %}
        <div class="row">
          {% for field in form %}
            <div class="form-group my-2 col-md-6">
              <strong class="">{{ field.label_tag }}</strong>
              {% if field.help_text %}
                <p class="mb-0">
                  <small class="form-text text-muted">{{ field.help_text }}</small>
                </p>
              {% endif %}
              {{ field }}

              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-lg btn-primary w-100">Guardar</button>
          </div>
          <div class="col-md-6">
            <a href="{% url 'seeCargos' %}" class="btn btn-lg btn-danger w-100">Cancelar</a>
          </div>
        </div>
      </div>
      
    </form>
  </div>


  
{% endblock %}
