{% extends 'main.html' %}
{% load static %}
{% load custom_tags %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Nueva Dirección</h1>
        </div>
    </div>
    <div class="card card-body">
        <form action="" method="post">

            {% csrf_token %}

            {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Error!</strong> Por favor corrija los siguientes errores.<br>
                <ul>
                    {% for field in form %}
                    {% if field.errors %}
                    <li>{{ field.errors|striptags }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% render_field field class="form-control" %}
            </div>
            {% endfor %}

            <div class="form-group mt-2">
                <button type="submit" class="btn btn-primary">Agregar</button>
                <a href="{% url 'seeDirecciones' %}" class="btn btn-secondary">Cancelar</a>
            </div>


        </form>



    </div>


    {% endblock %}