{% extends 'main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_tags %}

{% block title %}
  {% if form.instance.pk %}
    Editar Colaborador
  {% else %}
    Agregar Colaborador
  {% endif %}
{% endblock %}

{% block content %}
  <section class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card card-body border-0 rounded-1 shadow">
        <h2 class="text-center">
          {% if form.instance.pk %}
            <i class="bi bi-pencil-square"></i> Editar Colaborador
          {% else %}
            <i class="bi bi-person-plus"></i> Agregar Colaborador
          {% endif %}
        </h2>
        <form class="form" method="POST" enctype="multipart/form-data" id="form">
          {% csrf_token %}
          {{ form|crispy }}
          <hr class="mx-auto" />
          <div class="mt-2">
            <button type="button" class="btn btn-primary" id="submitBtn">
              <span id="btnSpinner" class="spinner-grow spinner-grow-sm text-light" style="display: none;"></span>
              <span id="btnText" class="">
                {% if form.instance.pk %}
                  <i class="bi bi-pencil-square"></i> Editar
                {% else %}
                  <i class="bi bi-person-plus"></i> Agregar
                {% endif %}
              </span>
            </button>
            <a href="{% url 'search' %}" class="btn btn-dark" id="cancelBtn">
              <i class="bi bi-x-circle"></i> Cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script>
    document.getElementById('submitBtn').addEventListener('click', function () {
      swal
        .fire({
          title: '¿Estás seguro?',
          text: '¿Deseas guardar los cambios?',
          icon: 'warning',
          confirmButtonColor: '#002f87',
          cancelButtonColor: '#d33',
          showCancelButton: true,
          confirmButtonText: 'Sí',
          cancelButtonText: 'No'
        })
        .then((result) => {
          if (result.isConfirmed) {
            document.getElementById('btnText').textContent = 'Guardando...'
            document.getElementById('btnSpinner').style.display = 'inline-block'
            document.getElementById('submitBtn').disabled = true
            document.getElementById('cancelBtn').disabled = true

            document.getElementById('form').submit()

          }
        })
    })
  </script>
{% endblock %}
