{% extends 'main.html' %}
{% load static %}
{% load custom_tags %}
{% load widget_tweaks %}

{% block content %}
  <div class="container">
    <form 
    action= "{% if form.instance.pk %} {% url 'editCargo' empleado.ficha form.instance.pk %} {% else %} {% url 'addCargo' %} {% endif %}"
    method="POST"
    id="form"
    class="card border-0 shadow mt-4">
      <div class="card-header bg-primary text-white">
        <h3 class="mb-0 text-center card-title">
          {% if form.instance.pk %}
            Editar Cargo
          {% else %}
          Agregar Cargo
          {% endif %}
        </h3>
      </div>
      <div class="card-body">
        {% csrf_token %}
        <div class="row">
          {% for field in form %}
            <div class="form-group my-2 col-md-6">
              <strong class="">
                {% if field.field.required %}
                <span class="text-danger">*</span>
                {% endif %}
                {{ field.label_tag }}                
              </strong>
              {% if field.help_text %}
                <p class="mb-0">
                  <small class="form-text text-muted">{{ field.help_text }}</small>
                </p>
              {% endif %}
              {% for error in field.errors %}
                  <p class="mb-0" style="color: red">{{ error }}</p>
              {% endfor %}
              {{ field }}
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-lg btn-primary w-100"
            data-bs-toggle="modal"
            data-bs-target="#confirmModal"
            {% if form.instance.pk %}
              onclick="modalTexts('Editar Cargo','¿Está seguro que desea guardar los cambios?')"
            {% else %}
              onclick="modalTexts('Agregar Cargo','¿Está seguro que desea agregar el cargo?')"
            {% endif %}>
              Guardar

          </div>
          <div class="col-md-6">
            <a href="{% url 'seeCargos' %}" class="btn btn-lg btn-danger w-100">Cancelar</a>
          </div>
        </div>
      </div>      
    </form>
  </div>






  
{% endblock %}
