{% extends 'main.html' %}
{% load static %}
{% load custom_tags %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-md-4">
            <h4 class="text-center">Cambiar Contraseña</h4>

            <div class="card card-body border-0 shadow">
                <form action="{% url 'changePassword' %}" method="post">
                    {% csrf_token %}
        
                    {% if form.errors %}
                    <p style="color:red">Por favor corrija los errores debajo.</p>
                    {% endif %}

                    {% for field in form %}
                    <div class="form-group mb-3">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% render_field field class="form-control" placeholder=field.label %}
                        {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        
                        {% for error in field.errors %}
                        <p style="color:red">{{error}}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}


        
                    {% comment %} <div class="form-group mb-3">
                        <label for="{{ form.old_password.id_for_label }}">Contraseña Antigua:</label>
                        {% render_field form.old_password class="form-control" placeholder="Contraseña Antigua" %}
                        {% for error in form.old_password.errors %}
                        <p style="color:red">{{error}}</p>
                        {% endfor %}

                    </div>
                    <div class="form-group mb-3">
                        <label for="{{ form.new_password1.id_for_label }}">Nueva Contraseña:</label>
                        {% render_field form.new_password1 class="form-control" placeholder="Nueva Contraseña" %}
                        {% for error in form.new_password1.errors %}
                        <p style="color:red">{{error}}</p>
                        {% endfor %}

                    </div>
                    <div class="form-group mb-3">
                        <label for="{{ form.new_password2.id_for_label }}">Confirmar Nueva Contraseña:</label>
                        {% render_field form.new_password2 class="form-control" placeholder="Confirmar Nueva Contraseña" %}
                        {% for error in form.new_password2.errors %}
                        <p style="color:red">{{error}}</p>
                        {% endfor %}

                    </div> {% endcomment %}
        
                    <div class="form-group d-flex justify-content-between">
                        <input type="submit" class="btn btn-primary" value="Cambiar Contraseña" onclick="return confirm('¿Está seguro de cambiar la contraseña?')">
                        <a href="{% url 'profile' user.empleado.ficha %}" class="btn btn-secondary">Volver al Perfil</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
   
</div>
{% endblock %}