{% extends 'main.html' %}
{% load static %}
{% load custom_tags %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <h1 class="text-center">Cambiar Contraseña</h1>

    <div class="card card-body d-flex justify-content-center align-items-center"
        style="max-width: 400px; margin: auto;">
        <form action="{% url 'changePassword' %}" method="post">
            {% csrf_token %}

            {% if error %}
            <p style="color:red">{{error}}</p>
            {% endif %}

            <div class="form-group mb-3">
                <label for="{{ form.old_password.id_for_label }}">Contraseña Antigua:</label>
                {% render_field form.old_password class="form-control" placeholder="Contraseña Antigua" %}
            </div>
            <div class="form-group mb-3">
                <label for="{{ form.new_password1.id_for_label }}">Nueva Contraseña:</label>
                {% render_field form.new_password1 class="form-control" placeholder="Nueva Contraseña" %}
            </div>
            <div class="form-group mb-3">
                <label for="{{ form.new_password2.id_for_label }}">Confirmar Nueva Contraseña:</label>
                {% render_field form.new_password2 class="form-control" placeholder="Confirmar Nueva Contraseña" %}
            </div>

            <div class="form-group d-flex justify-content-between">
                <input type="submit" class="btn btn-primary" value="Cambiar Contraseña">
                <a href="{% url 'profile' user.empleado.ficha %}" class="btn btn-secondary">Volver al Perfil</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}