{% extends 'main.html' %}
{% load static %}
{% block content %}
<main class="container">
    <div class="row">
        <form action="{% url 'newobjective' empleado.ficha %}" method="post"
            class="card card-body shadow-lg p-3 m-5 bg-white rounded">
            <h4 class="text-center fw-bolder fst-italic">Nuevo Objetivo para {{periodo}}</h4>
            <h5 class="text-center ">
                {{empleado.nombre|title}} {{empleado.apellido|title}}
            </h5>



            {% csrf_token %}
            <div class="mb-3">
                <label for="texto" class="form-label">Texto</label>
                <textarea class="form-control" id="texto" name="texto" rows="3"></textarea>
                
            </div>

            <div class="mb-3">
                <label for="tipo" class="form-label">Tipo</label>
                <select class="form-select" id="tipo" name="tipo">
                    {% for tipo in tipos %}
                    <option value="{{tipo.id}}">{{tipo}}</option>
                    {% endfor %}
                </select>
                
            </div>

            <div class="d-flex justify-content-between mt-3">
                <button type="submit" class="btn btn-lg btn-primary bi bi-plus-circle flex-grow-1 me-4">
                    Añadir Objetivo
                </button>
                <a href="{% url 'objectives' empleado.ficha %}"
                    class="btn btn-lg btn-danger bi bi-x-circle flex-grow-1">
                    Cancelar</a>
            </div>

        </form>
    </div>
</main>
{% endblock %}