{% extends 'main.html' %}
{% load static %}
{% block content %}
  <main class="container">
    <div class="row justify-content-center mt-4">
      <div class="col-md">
        <div class="card card-body shadow border-0">
          <form action="{% if modificar %}{% url 'editactivities' empleado.ficha objetivo.id actividad.id %}{% else %}{% url 'newactivity' empleado.ficha objetivo.id %}{% endif %}" method="post">
            <h4 class="text-center fw-bolder fst-italic">{{ objetivo.texto }}</h4>
            <h5 class="text-center fw-bolder">{% if modificar %}Modificar{% else %}Añadir{% endif %} Objetivo Especifico</h5>
            <h6 class="text-center">{{ empleado.nombre|title }} {{ empleado.apellido|title }}</h6>
  
            {% csrf_token %}
            <div class="mb-3">
              <label for="{{ form.texto.id_for_label }}" class="form-label">Texto</label>
              {{ form.texto }}
            </div>
  
            <div class="d-flex justify-content-between mt-3">
              <button type="submit" class="btn btn-lg btn-primary bi bi-plus-circle flex-grow-1 me-4">{% if modificar %}Modificar{% else %}Añadir{% endif %}</button>
              <a href="{% url 'activities' empleado.ficha objetivo.id %}" class="btn btn-lg btn-danger bi bi-x-circle flex-grow-1">Cancelar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
