{% extends 'main.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
  <main class="container">
    <section class="row justify-content-center">
      <div class="col-md-4">
        <div class="card border-0 shadow mt-3">
          <div class="card-body">
            <h4 class="text-center card-title">Gerencia</h4>
            <h5 class="text-center card-title fs-3">{{ gerencia.nombreText }}</h5>
            <hr>
            <p class="card-text">Dirección: {{ gerencia.direccion }}</p>
            <p class="card-text">Departamento: {{ gerencia.departamento }}</p>
            <p class="card-text">Cargos: {{ gerencia.cargosAsociados.count }}</p>
            <p class="card-text">Empleados: {{ gerencia.empleados_asociados.count }}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0 shadow mt-3">
          <div class="card-body">
            <ul class="nav nav-underline nav-fill" id="borderedTabJustified" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="tab1" data-bs-toggle="pill" data-bs-target="#tab1Content" type="button" role="tab" aria-controls="tab1Content" aria-selected="true">Cargos</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab2" data-bs-toggle="pill" data-bs-target="#tab2Content" type="button" role="tab" aria-controls="tab2Content" aria-selected="false">Empleados</button>
              </li>
            </ul>
            <div class="tab-content" id="borderedTabJustifiedContent">
              <div class="tab-pane fade show active" id="tab1Content" role="tabpanel" aria-labelledby="tab1">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Cargo</th>
                        <th>Empleados</th>
                        <th></th>
                      </tr>
                    <tbody>
                      {% for cargo in gerencia.cargosAsociados %}
                        <tr>
                          <td>{{ cargo.nombreText|title }}</td>

                          <td>
                            
                              {{ cargo.empleados_activos_asociados.count }} empleado{{ cargo.empleados_activos_asociados.count|pluralize }}

                          </td>
                          <td>
                            <a href="{% url 'cargodetails' cargo.id %}" class="text-decoration-none">Ver Cargo</a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane fade" id="tab2Content" role="tabpanel" aria-labelledby="tab2">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Cargo</th>
                        <th></th>
                      </tr>
                    <tbody>
                      {% for empleado in gerencia.empleados_asociados %}
                        <tr>
                          <td>{{ empleado|title }}</td>
                          <td>{{ empleado.cargo|title }}</td>
                          <td>
                            <a href="{% url 'profile' empleado.ficha %}" class="text-decoration-none">Ver perfil</a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
