{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="es" data-overlayscrollbars-initialize>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
    {% block title %}
    {% endblock %}
    | Genia Performance 360 Pro

  </title>

  <!-- Favicons -->
  <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon">

  <link href="{% static 'favicon.png' %}" rel="apple-touch-icon" />

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.min.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/select2/css/select2.min.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/sweetalert2/css/sweetalert2.min.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/apexcharts/apexcharts.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/datatables/css/dataTables.dataTables.min.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/overlayScrollbars/css/OverlayScrollbars.min.css' %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
  
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/select2/js/select2.full.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/js/dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/sweetalert2/js/sweetalert2.all.min.js' %}"></script>
  <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'vendor/overlayScrollbars/js/OverlayScrollbars.min.js' %}"></script>

<style>
  body {
    background-image: url("{% static 'bg.png' %}"), linear-gradient(to right, rgba(0, 47, 135, 0.3) 0%, rgba(255, 131, 0,0.3) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}
</style>
</head>

<body data-overlayscrollbars-initialize>
{% include 'partials/navbar.html' %}
{% include 'partials/alerts.html' %} 
<main class="container py-4">

  {% block content %}

  {% endblock %}

  
</main>
{% if user.is_authenticated %}
  {% include 'partials/floating-action-bubble.html' %}



<!-- confirmModal -->
<div class="modal fade" id="confirmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="confirmButton">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>

<script>
  const modal = document.getElementById('confirmModal')
  const modalTitle = modal.querySelector('.modal-title')
  const modalBody = modal.querySelector('.modal-body')
  const f = document.getElementById('form')

  function modalTexts(title, body) {
    modalTitle.textContent = title
    modalBody.textContent = body
  }

  modal.addEventListener('show.bs.modal', (event) => {
    const button = event.relatedTarget
    showModal('Guardar Cambios', '¿Está seguro de guardar los cambios?')
  })

  modal.querySelector('#confirmButton').addEventListener('click', () => {
    f.submit()
  })
</script>
{% endif %}




  <script>
    const osInstance = OverlayScrollbars(document.body, {
      className: 'os-theme-dark',
      sizeAutoCapable: true,
      clipAlways: true,
      normalizeRTL: true,
      paddingAbsolute: true,
      autoUpdate: null,
      autoUpdateInterval: 33,
      nativeScrollbarsOverlaid: {
        showNativeScrollbars: false,
        initialize: true
      },
      overflowBehavior: {
        x: 'hidden',
        y: 'scroll'
      },
      scrollbars: {
        visibility: 'auto',
        autoHide: 'move',
        autoHideDelay: 800,
        dragScrolling: true,
        clickScrolling: false,
        touchSupport: true,
        snapHandle: false
      }
    });
    $(document).ready(function () {
      $('.form-select').select2(
        {
          theme: 'bootstrap-5'
        }
      );
    });
  </script>

  <script>
    $(document).ready(function () {
      $('.datatable').DataTable({
        "pageLength": 15,
        "lengthMenu": [5, 10, 15, 20, 25, 50, 100],

        "language": {
          "lengthMenu": "Mostrar _MENU_ registros por pagina",
          "zeroRecords": "No se encontraron resultados",
          "info": "Mostrando la pagina _PAGE_ de _PAGES_",
          "infoEmpty": "No hay registros disponibles",
          "infoFiltered": "(filtrado de _MAX_ registros totales)",
          "search": "Buscar:",
          "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
          }
        }
      });
    });
  </script>




  <script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  </script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
</script>
{% comment %} 
 Script that warms session close after 14 minutes and 30 seconds of inactivity (no new requests to the server from session) 
<script>
  var idleTime = 0;
  $(document).ready(function () {
    //Increment the idle time counter every minute.
    var idleInterval = setInterval(timerIncrement, 60000); // 1 minute
  });

  function timerIncrement() {
    idleTime = idleTime + 1;
    if (idleTime > 4) { // 5 minutes
      Swal.fire({
        title: 'Sesión inactiva',
        text: 'Tu sesión se cerrará dentro de 10 minutos por inactividad',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#002f87',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Continuar sesión',
        cancelButtonText: 'Cerrar sesión',
      }).then((result) => {
        if (result.isConfirmed) {
          idleTime = 0;
        } else {
          window.location.href = "{% url 'account_logout' %}";
        }
      });
    }
    else if (idleTime > 14) { // 15 minutes
      window.location.href = "{% url 'account_logout' %}";
    }
  }
</script> {% endcomment %}



{% block scripts %}

{% endblock  %}




</body>

</html>