{% extends 'main.html' %}
{% load static %}
{% block title %}
  Objetivos
{% endblock %}
{% block content %}
    <section class="row g-2 justify-content-center">
      <div class="col-md-4">
        <div class="row g-2">
          <div class="col-12">
            <div class="card card-body border-0 rounded-1 shadow">
              <h4 class="text-center">{{ periodo }}</h4>
              <h5  class="text-center">{{ empleado|title }}</h5>
              <div class="d-grid gap-2">
                <a href="{% url 'profile' empleado.ficha %}" class="btn btn-dark bi bi-arrow-left">
                  Regresar al Perfil
                </a>
                <a href="{% url 'newobjective' empleado.ficha %}" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Nuevo Objetivo</a>

              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card card-body border-0 rounded-1 shadow">
              <div class="chart-container mx-auto " style="position: relative; max-width: 256px; height: auto;">
                <canvas id="completionChart"></canvas>
              </div>
            </div>
          </div>
          
          <div class="col-12">
            <div class="card card-body border-0 rounded-1 shadow">
              <div class="chart-container mx-auto " style="position: relative; max-width: 256px; height: auto;">
                <canvas id="status_chart"></canvas>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="card card-body border-0 rounded-1 shadow">
              <div class="chart-container mx-auto " style="position: relative; max-width: 256px; height: auto;">
                <canvas id="typeChart"></canvas>
              </div>
            </div>
          </div>
            
        </div>
      </div>
      <div class="col-md-8">
        <div class="card card-body border-0 rounded-1 shadow">
          <h4 class="text-center">Objetivos Generales del Periodo</h4>
            {% for obj in objetivos %}
              <div class="card border-1 mb-4 rounded-4 border-dark" style="--bs-bg-opacity: .2;">
                <div class="card-body">
                  <h5 class="card-title">{{ obj.texto }}</h5>
                  <h6 class="card-subtitle mb-1 text-body-secondary">Creado por {{ obj.createdBy.empleado|title }} el {{ obj.created|date:'d-m-Y' }}</h6>
                  <p class="card-text m-0">{{ obj.tipo }}</p>
                  <p class="card-text">
                    {% if obj.is_aproved %}
                      <span class="badge bg-success">Aprobado</span> 
                      por {{ obj.aproved_by.empleado|title }}

                    {% else %}
                      <span class="badge bg-danger">Por Aprobar</span>
                    {% endif %}
                  </p>
                  
                  <div class="row justify-content-start">
                    <div class="col-2">
                        <div class="text-center obj-details">
                            <p class="card-text m-0 fs-4" data-toggle="tooltip" title=" Objetivos especificos">
                                <i class="bi bi-bullseye"></i>
                            </p>
                            <p class="card-text m-0 fs-5">{{ obj.detallesActividades.0 }}</p>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="text-center obj-details">
                            <p class="card-text m-0 fs-4" data-toggle="tooltip" title="Objetivos completados">
                                <i class="bi bi-clipboard-check"></i>
                            </p>
                            <p class="card-text m-0 fs-5">{{ obj.detallesActividades.1 }}</p>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="text-center obj-details">
                            <p class="card-text m-0 fs-4" data-toggle="tooltip" title="Porcentaje">
                                <i class="bi bi-percent"></i>
                            </p>
                            <p class="card-text m-0 fs-5">{{ obj.porcentaje|floatformat:0 }}</p>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="text-center obj-details">
                            <p class="card-text m-0 fs-4" data-toggle="tooltip" title="Notas">
                                <i class="bi bi-chat"></i>
                            </p>
                            <p class="card-text m-0 fs-5">{{ obj.notes.count }}</p>
                        </div>
                    </div>
                    <div class="col d-flex flex-column">
                        <div class="ml-auto d-flex justify-content-end align-items-end mt-auto">
                            <div class="ps-1">
                                <a href="{% url 'activities' empleado.ficha obj.id %}" class="btn btn-info text-center">
                                    <i class="bi bi-eye"></i>
                                </a>
                            </div>
                            <div class="ps-1">
                                <a href="{% url 'editobjective' empleado.ficha obj.id %}" class="btn btn-warning text-center">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </div>
                            <div class="ps-1">
                              <form action="{% url 'discardobjective' empleado.ficha obj.id %}" method="post">
                                {% csrf_token %}
                                <button type="button" class="btn btn-danger text-center bi bi-trash w-100" onclick="confirmDelete(this.form)"></button>
                            </form>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>

              </div>

              {% comment %} <div class="card m-4 border-dark">
                <div class="card-header lead fw-bolder text-bg-dark bg-dark">{{ obj.texto }}</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-8">
                      <div class="row mt-2">
                        <div class="col-4 fw-bold">Creado por</div>
                        <div class="col">{{ obj.createdBy.empleado }}</div>
                      </div>
                      <div class="row mt-2">
                        <div class="col-4 fw-bold">Creado el</div>
                        <div class="col">{{ obj.created|date:'d-m-Y' }}</div>
                      </div>
                      <div class="row mt-2">
                        <div class="col-4 fw-bold">Tipo</div>
                        <div class="col">{{ obj.tipo }}</div>
                      </div>
                      <div class="row mt-2">
                        <div class="col-4 fw-bold">Actividades</div>
                        <div class="col">{{ obj.detallesActividades[0] }}</div>
                      </div>
                      <div class="row mt-2">
                        <div class="col-4 fw-bold">Completadas</div>
                        <div class="col">{{ obj.detallesActividades[1] }}</div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="progress mt-2" style="height: 50px;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated {% if obj.porcentaje == 100 %}{% endif %} fw-bold" role="progressbar" style="width: {{ obj.porcentaje|floatformat:0 }}%;" aria-valuenow="{{ empleado.objetivosPorcentaje[0] }}" aria-valuemin="0" aria-valuemax="100">{{ obj.porcentaje|floatformat }}%</div>
                      </div>
                      <div class="mt-4">
                        <a href="{% url 'activities' empleado.ficha obj.id %}" class="btn btn-dark w-100">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M8 12c-2.756 0-5-2.686-5-6s2.244-6 5-6 5 2.686 5 6-2.244 6-5 6zm0-10c-2.206 0-4 2.239-4 5s1.794 5 4 5 4-2.239 4-5-1.794-5-4-5zm0 7c-1.105 0-2-.895-2-2s.895-2 2-2 2 .895 2 2-.895 2-2 2z" />
                            <path d="M8 4.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zm0 1a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3z" />
                          </svg>Detalles
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div> {% endcomment %}
              {% empty %}
              <div class="alert alert-warning" role="alert">No hay objetivos creados para este periodo</div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

  <script>
    // Register the plugin to all charts:
    Chart.register(ChartDataLabels);

    const ctx = document.getElementById('completionChart');
    const labels = ['Completos', 'Incompletos']
    const data = {
        labels: labels,
        datasets: [{
            axis: 'y',
            label: 'Objetivos',
            data: ['{{empleado.objetivosPorcentaje.2}}',
                '{{empleado.objetivosPorcentaje.5}}'
            ],
            fill: false,
            backgroundColor: [

                'rgba(34,187,51,0.8)',

                'rgba(187,33,36,0.8)',
            ],
            borderColor: [
                'rgb(34,187,51)',
                'rgba(187,33,36)'
            ],
            borderWidth: 1
        }]
    };
    new Chart(ctx, {
        type: 'doughnut',
        data,
        options: {
            indexAxis: 'y',
            plugins: {
                datalabels: { // This code is used to display data values
                    color: 'black',
                    formatter: Math.round,
                    font: {
                        weight: 'bold',
                        size: 24
                    }
                }
            }
        }
    });

    const ctx1 = document.getElementById('status_chart');
    new Chart(ctx1, {
      type: 'doughnut',
      data: {
        labels: [
          'Aprobados',
          'Por Aprobar'
        ],
        datasets: [{
          axis: 'y',
          label: 'Objetivos',
          data: [
            '{{empleado.cantidad_objetivos_por_estado.0}}',
            '{{empleado.cantidad_objetivos_por_estado.1}}'
          ],
          fill: false,
          backgroundColor: [
            'rgba(0,123,255,0.8)', // blue
            'rgba(255,165,0,0.8)', // orange
          ],
          borderColor: [
            'rgb(0,123,255)', // blue
            'rgb(255,165,0)', // orange
          ],
          borderWidth: 1
        }]
      },
      options: {
        indexAxis: 'y',
        plugins: {
          datalabels: { // This code is used to display data values
            color: 'black',
            formatter: Math.round,
            font: {
              weight: 'bold',
              size: 24
            }
          }
        }
      }
    });

    {% if empleado.distribucionObjetivosCantidad != None %}
    const ctx2 = document.getElementById('typeChart');
    new Chart(ctx2, {
        type: 'doughnut',
        data: {
            labels: [
            {% for tipo in empleado.distribucionObjetivosCantidad %}
                '{{tipo.tipo}}',
            {% endfor %}
            ],
            datasets: [{
                axis: 'x',
                label: 'TIPO',
                data: [
                {% for tipo in empleado.distribucionObjetivosCantidad %}
                    '{{tipo.cantidad}}',
                {% endfor %}],
                fill: false,
                backgroundColor: [

                    'rgba(255, 205, 86, 0.8)',
                    'rgba(75, 192, 192, 0.8)',
                    'rgba(54, 162, 235, 0.8)',
                    'rgba(187,33,36,0.8)'
                    
                ],
                borderColor: [
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgba(187,33,36)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            indexAxis: 'x',
            plugins: {
                datalabels: { // This code is used to display data values
                    color: 'black',
                    formatter: Math.round,
                    font: {
                        weight: 'bold',
                        size: 16
                    }
                }
            }
        }
    });
    {% endif %}
</script>


{% endblock %}

{% block scripts %}
  <script>
    function confirmDelete(form) {
      swal.fire({
        title: '¿Estás seguro?',
        text: '¿Deseas eliminar este objetivo?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#002f87',
        confirmButtonText: 'Sí, eliminar',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.isConfirmed) {
          form.submit();
        }
      });
    }
  </script>
{% endblock %}

   
          
