{% extends 'main.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}Listado de Direcciones{% endblock %}


{% block content %}
  <section class="row justify-content-center my-4">
    <div class="col-12 col-md-10">
      <div class="card card-body border-0 rounded-1 shadow">
        <h2 class="text-center">Listado de Direcciones</h2>
        <a href="{% url 'addDireccion' %}" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i>
            Nueva Dirección</a>
            <table class="table table-hover table-striped datatable align-middle w-100">
                <thead>
                    <tr>
                        <th scope="col">Nombre de la Dirección</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for direccion in direcciones %}
                    <tr>
                        <td>{{direccion.nombre}}</td>
                        <td class="text-end">
                            <a href="{% url 'editDireccion' direccion.id %}" class="btn btn-dark">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a href="{% url 'direcciondetails' direccion.id %}" class="btn btn-dark">
                                <i class="bi bi-search"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
