<!-- evaluacion_desempeno.html -->
{% extends 'main.html' %}
{% load widget_tweaks %}
{% load custom_tags %}
{% block content %}


<main class="container">
  <div class="row">
    <h1 style="text-align: center">Evaluación de Desempeño</h1>
    <h2 style="text-align: center">NIVEL {{empleado.cargo.nivel.nivel}}</h2>

    <form action="" method="POST"
      class="card card-body shadow-lg p-3 mb-5 bg-white rounded" onsubmit="return validarSumaObjetivos()">
      {% csrf_token %}

      <div class="row">
        <div class="col-8">
          <div class="row">
            <div class="input-group mb-1 mt-2">
              <div class="input-group-prepend col-3 ">
                <span class="input-group-text " id="basic-addon1" style="font-weight: bold;">Nombre y
                  Apellido: </span>
              </div>
              <input type="text" class="form-control col" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1" value="{{empleado}} " id="empleado" name="empleado" readonly>
            </div>

            <div class="input-group mb-1">
              <div class="input-group-prepend col-3">
                <span class="input-group-text" id="basic-addon1" style="font-weight: bold;">Cargo:
                </span>
              </div>
              <input type="text" class="form-control col" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1" type="text" id="cargo" name="cargo" value="{{empleado.cargo}}" readonly>
            </div>

            <div class="input-group mb-1 ">
              <div class="input-group-prepend col-3">
                <span class="input-group-text" id="basic-addon1" style="font-weight: bold;">Gerencia:
                </span>
              </div>
              <input type="text" class="form-control col" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1" type="text" id="gerencia" name="gerencia"
                value="{{empleado.cargo.gerencia}}" readonly>
            </div>
          </div>

        </div>
        <div class="col">
          <h5 class="text-center mt-2 mb-0 ">Supervisor</h5>
          <h4 class="text-center font-weight-bold">
            {{empleado.supervisor}}
          </h4>
          <h5 class="text-center lead font-italic">
            {{empleado.supervisor.cargo}}
          </h5>

        </div>

      </div>


      <h3 class="text-center font-weight-bold">Objetivos</h3>
      <table class="table table-striped table-borderless shadow p-3 mb-2 bg-white rounded">
        <thead class="table-dark">
          <tr>
            <th class="col-3 fs-5">Objetivo</th>
            <th class="col-1 fs-5"></th>
            <th class="col-1 fs-5 text-nowrap">Peso (%)</th>
            <th class="col-1 fs-5 text-nowrap">Valor (1-4)</th>
            <th class="col-1 fs-5">Resultado</th>
            <th class="col-4 fs-5">Observaciones</th>
          </tr>
        </thead>
        <tbody>
          {% for form in forms %}
          <tr>

            {% with alpha='peso'|addstr:forloop.counter beta='calcularResultadoObj('|addstr:forloop.counter|addstr:')' gamma='valor'|addstr:forloop.counter delta='resultado'|addstr:forloop.counter %}
            <th colspan="2" scope="row">{% render_field form.0.objetivo class="form-control" readonly=true %}</th>

            <td>{% render_field form.0.peso class="form-control" id=alpha oninput=beta %}</td>
            <td>{% render_field form.0.valor class="form-control" id=gamma oninput=beta %}</td>
            <td>{% render_field form.0.resultado class="form-control" id=delta readonly=true %}</td>

            {% endwith %}
            <td>{{form.0.comentarios}}</td>
          </tr>
          <tr>
            <th class="align-middle text-center fs-5">Actividades</th>
            <td colspan="5">
              <table class="table table-sm">
                <tbody>
                  {% for form2 in form.1 %}
                  <tr>
                    <th class="align-middle">#{{ forloop.counter }}</th>
                    <td>{% render_field form2.actividad class='form-control' readonly=true %}</td>
                    <th class="align-middle">
                      %:
                    </th>
                    <td>
                      {% render_field form2.pesoActividad class='form-control' %}
                    </td>
                    <td></td>
                  </tr>

                  {% endfor %}

                </tbody>
              </table>
            </td>
          </tr>

          {% endfor %}
          <tr>
            <td colspan="2" class="table-dark text-end align-middle fs-5 fw-bold">
              Porcentaje:
            </td>
            <td class="align-middle fw-bold">
              <input class="form-control fw-bold" type="text" name="totalObjPor"
                value="{{empleado.cargo.nivel.porObjetivos}}%" readonly>

            </td>
            <td colspan="2" class="table-dark text-end align-middle fs-5 fw-bold">
              Total:
            </td>
            <td>
              <input class="form-control fw-bold" type="text" name="totalObj" id="totalObj"
                value="{{evaluacion.resultadoObjetivos}}" readonly>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <h3 class="text-center font-weight-bold">Competencias Genericas GeniaCare</h3>
      <table id="tabla-competencias" class="table table-striped table-borderless">
        <thead class="table-dark">
          <tr>
            <th class="col-3 fs-5">Competencia</th>
            <th class="col-3 fs-5"></th>
            <th class="col-2 fs-5 text-nowrap">Indicador (1-4)</th>
            <th class="col-2 fs-5 text-nowrap">
              Resultado
            </th>
          </tr>
        </thead>
        <tbody>
          {% for c in competencias %}

          <tr>
            <td colspan="2">
              {% with alpha='comc'|addstr:forloop.counter %}
              {% render_field c.competencia class="form-control" id=alpha  %}
              {% endwith %}
            </td>
            <td>
              <!-- calcularResultadoCom(1,'{{empleado.cargo.nivel.cantidadCompetencias}}','{{empleado.cargo.nivel.porCompetencias}}') -->
              {% with alpha='comv'|addstr:forloop.counter beta='calcularResultadoCom('|addstr:forloop.counter|addstr:','|addstr:empleado.cargo.nivel.cantidadCompetencias|addstr:','|addstr:empleado.cargo.nivel.porCompetencias|addstr:')' %}

              {% render_field c.pesoCompetencia class="form-control" id=alpha oninput=beta %}

              {% endwith %}
            </td>
            <td>
              {% with alpha='comr'|addstr:forloop.counter %}
              {% render_field c.resultadoCompetencia class="form-control" id=alpha %}
              {% endwith %}

            </td>
          </tr>

          {% endfor %}
          <tr>
            <td class="table-dark text-end align-middle fs-6 fw-bold">
              Total Competencias:
            </td>
            <td class="align-middle fw-bold">
              <input class="form-control fw-bold" type="text" name="PorCom" id="PorCom"
                value="{{empleado.cargo.nivel.porCompetencias}}%" readonly>

            </td>
            <td class="table-dark text-end align-middle fs-6 fw-bold">
              Resultado:
            </td>
            <td>
              <input value="{{evaluacion.resultadoCompetencias}}" class="form-control fw-bold" type="text" name="totalCom"
                id="totalCom" readonly>
            </td>
          </tr>

        </tbody>

      </table>
      <h4 class="text-center font-weight-bold text-title">Detección De Necesidades De Formación
      </h4>
      <table id="tabla-competencias" class="table table-striped table-borderless">
        <thead class="table-dark">
          <tr>
            <th class="col-6 fs-5">Competencias genéricas Genia Care
            </th>
            <th class="col-6 fs-5">Otras competencias del rol: conductuales y/o tecnicas
            </th>
          </tr>

        </thead>
        <tbody>
          <tr>
            <td><textarea class="form-control" name="deteccionCompetencia1" rows="3"></textarea></td>
            <td><textarea class="form-control" name="deteccionTecConductual1" rows="3"></textarea></td>

          </tr>
          <tr>
            <td><textarea class="form-control" name="deteccionCompetencia2" rows="3"></textarea></td>

            <td><textarea class="form-control" name="deteccionTecConductual2" rows="3"></textarea></td>

          </tr>
          <tr>
            <td><textarea class="form-control" name="deteccionCompetencia3" rows="3"></textarea></td>

            <td><textarea class="form-control" name="deteccionTecConductual3" rows="3"></textarea></td>

          </tr>
        </tbody>

      </table>

      <label for="comentarios">Comentarios Adicionales</label><br>
      <textarea class="form-control" id="comentarios" name="comentarios" rows="5" cols="30"></textarea><br>


      <div class="">        
        <a class="btn btn-outline-secondary" href="{% url 'profile' empleado.ficha %}">Regresar</a>
      </div>
    </form>
  </div>
</main>

<script>
  function calcularResultadoCom(i, cant, por) {
    var valor = document.getElementById("comv" + i).value;
    var porcentaje = (por / cant) / 100;
    var resultado = porcentaje * valor;
    document.getElementById("comr" + i).value = resultado.toFixed(2);
    var total = 0;

    var resultado_total = document.querySelectorAll("[id ^=comr]");
    for (let i = 0; i < resultado_total.length; i++) {
      if (resultado_total[i] !== '') {
        total += Number(resultado_total[i].value);
      }

    }
    document.getElementById("totalCom").value = total.toFixed(2);


  }

  function calcularResultadoObj(i) {
    console.log(i)
    var peso = document.getElementById("peso" + i).value;
    var valor = document.getElementById("valor" + i).value;
    var resultado = peso / 100 * valor;
    document.getElementById("resultado" + i).value = resultado.toFixed(2);

    var resultado_total = document.querySelectorAll("[name ^=resultado]");
    var total = 0.0;
    for (let i = 0; i < resultado_total.length; i++) {
      if (resultado_total[i] !== '') {
        console.log(resultado_total[i].value)

        total += Number(resultado_total[i].value * 1);
      }

    }

    document.getElementById("totalObj").value = total.toFixed(2);
  }

  function validarSumaObjetivos() {
    var totalObj = 0;
    var pesos = document.querySelectorAll("[id ^=peso]");
    for (let i = 0; i < pesos.length; i++) {
      if (pesos[i] !== '') {
        totalObj += Number(pesos[i].value);
      }

    }
    var porObj = '{{empleado.cargo.nivel.porObjetivos}}';
    if (totalObj != porObj) {
      alert("La suma de los objetivos no es igual a " + porObj + "%");

      document.getElementById("peso1").focus();
      document.getElementById("peso1").scrollIntoView();
      return false;
    }
    var selects = document.querySelectorAll("select[id^='comc']");
    var values = [];

    for (var i = 0; i < selects.length; i++) {
      if (values.includes(selects[i].value)) {
        alert("ERROR, TIENES COMPETENCIAS REPETIDAS.");
        return false;
      }

      values.push(selects[i].value);
    }

    return true;

  }
</script>

{% endblock %}