{% extends 'main.html' %}
{% block content %}
<main class="container">
    <div class="card card-body mt-4">
        <section class="row justify-content-center">
            <h2 class="">Distribucion Porcentaje de Objetivos</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'systemparameters' %}">Parametros</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Distribucion Porcentaje</li>
                </ol>
            </nav>
            {% for departamento in departamentos %}
            <div class="col-md-4 my-2">
                <div class="card border-0 shadow h-100">

                    <div class="card-body">
                        <h5 class="text-center">{{departamento.nombre|title}}</h5>
                        <a href="{% url 'systemparameterpercentajedistributiondepartment' departamento  %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
    </div>

</main>
{% endblock %}