{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mt-4">Usuarios</h1>
        </div>
    </div>


    <div class="card card-body">
        <table class="table table-striped datatable ">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Ficha</th>
                    <th scope="col">Empleado</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Activo</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <th scope="row">{{ user.empleado.ficha }}</th>
                    <td>{{ user.empleado|title }}</td>
                    <td>{{ user.username }}</td>
                    {% if user.is_superuser %}
                    <td>Super Administrador</td>
                    {% elif user.is_staff %}
                    <td>Administrador</td>
                    {% else %}
                    <td>Usuario</td>
                    {% endif %}
                    {% if user.is_active %}
                    <td>Si</td>
                    {% else %}
                    <td>No</td>
                    {% endif %}
                    <td>
                        <a href="{% url 'profile' user.empleado.ficha %}" class="btn btn-dark"><i
                                class="bi bi-search"></i></a>
                        
                    </td>
                    
                   
                </tr>
                {% endfor %}
            </tbody>
        </table>
        

    </div>






</div>





{% endblock %}